.c-wrapper {
    width: 100%;
    min-height: .1rem;
    padding-top: .04rem;
    background-color: #E5E5E5;
    overflow: hidden;
    font-family: "Arial", "Microsoft YaHei", "黑体", sans-serif;
    z-index: 1;
}

.c-header,
.c-body,
.c-footer {
    width: 100%;
    min-height: .2rem;
    background-color: #FFF;
    overflow: hidden;
}

.stamp {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2.78184rem;
    margin-left: .04rem;
    margin-right: .04rem;
    /*10px*/
    padding: 0.07321rem;
    background: white;
    /*The stamp cutout will be created using crisp radial gradients*/
    background: radial-gradient( transparent 0px, transparent 4px, white 4px, white);
    /*reducing the gradient size*/
    /*20px*/
    background-size: 0.14641rem 0.14641rem;
    /*Offset to move the holes to the edge*/
    /*-10px*/
    background-position: -0.07321rem -0.07321rem;
}

.stamp:after {
    content: '';
    position: absolute;
    /*We can shrink the pseudo element here to hide the shadow edges*/
    /*5px*/
    left: 0.0366rem;
    top: 0.0366rem;
    right: 0.0366rem;
    bottom: 0.0366rem;
    /*Shadow - doesn't look good because of the stamp cutout. We can still move this into another pseudo element behind the .stamp main element*/
    /*box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);*/
    box-shadow: 0 0.04392rem 0.07321rem #999;
    /*pushing it back*/
    z-index: -1;
}


/*Some text*/

.stamp:before {
    content: "可口渴了's Blog ——Stay foolish,stay hungry！";
    position: absolute;
    bottom: 0;
    left: 0;
    font: bold .1rem arial;
    color: #5D5E5D;
    line-height: 100%;
    padding: .3rem;
    font-weight: normal;
}

.stamp p {
    width: 100%;
    height: 2.78184rem;
    top: 0;
    right: .05rem;
    bottom: .05rem;
    left: .05rem;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.stamp p img {
    width: 99.9%;
    height: 2.78184rem;
}


/*.c-header {
    background: gradient(linear, 29% 26%, 30% 76%, from(#0E990E), to(#4BE81C));
    background: -webkit-gradient(linear, 29% 26%, 30% 76%, from(#0E990E), to(#4BE81C));
    z-index: 4;
}*/

.c-body {
    background-color: #E5E5E5;
    font-family: "Microsoft YaHei";
}

.content-top-container,
.general-info-container,
.content-project-container,
.info-list,
.project-list {
    position: relative;
    float: left;
    width: 100%;
    min-height: .05rem;
    margin-bottom: .04rem;
    padding: .04rem 0;
    background-color: #FFF;
    overflow: hidden;
    z-index: 5;
}

.content-top-container {
    position: relative;
    min-height: .35139rem!important;
}

.print {
    position: absolute;
    width: .35139rem;
    height: .35139rem;
    top: 0;
    bottom: 0;
    right: .04rem;
    margin: auto;
    background: url(../imgFolder/print-min.png)no-repeat center center;
    background-size: 70%;
    overflow: hidden;
    cursor: pointer;
}

.section-title {
    float: left;
    width: 100%;
    padding-top: .1rem;
    padding-bottom: .1rem;
    text-align: center;
    color: #333;
    border-bottom: 2px sold #333;
    background-color: #FFF;
}

.info-list ul,
.project-list ul {
    width: 100%;
    margin-top: .04rem;
}

.info-list ul li,
.project-list ul li {
    float: left;
    width: 100%;
    min-height: .02rem;
    overflow: hidden;
}

.info-list ul li:nth-child(even) {
    background-color: #F2F2F2;
}

.project-list ul li p {
    float: left;
    width: 100%;
    margin-left: .04rem;
    line-height: 1.5em;
    font-size: .117rem;
}

.project-list ul li p.work-desc {
    background-color: #F2F2F2;
    margin-left: .04rem;
    border-bottom: 1px solid #E5E5E5;
}

.project-list ul li p.work-desc:first-child{
    margin-top: .1rem;
}

.project-list ul li p.work-desc:last-child{
    margin-bottom: .1rem;
}

.list-info-left,
.list-info-mid,
.list-info-right {
    float: left;
    width: 32.5%;
}

.list-info-email,
.list-info-phone {
    float: left;
    width: 100%;
    min-height: .02rem;
    margin-left: .04rem;
    overflow: hidden;
}

.list-info-left {
    margin-left: .04rem;
}

.list-info-left p,
.list-info-mid p,
.list-info-right p,
.list-info-email p,
.list-info-phone p {
    float: left;
    line-height: 1.5em;
    font-size: .117rem;
}

.list-info-left p:first-child,
.list-info-mid p:first-child,
.list-info-right p:first-child,
.list-info-email p:first-child,
.list-info-phone p:first-child {
    color: #333;
}

.list-info-left p:last-child,
.list-info-mid p:last-child,
.list-info-right p:last-child,
.list-info-email p:last-child,
.list-info-phone p:last-child {
    font-family: 'Arial';
    color: #5D5E5D;
}

.content-project-container p {
    width: 100%;
    color: red;
    font-family: "Microsoft YaHei";
    font-size: .1rem;
    font-weight: normal;
    text-align: center;
}


/*.side-left-container {
    float: left;
    position: relative;
    width: 2.8rem;
    min-height: 2.8rem;
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    z-index: 666;
}*/

.c-footer {
    float: left;
    position: relative;
    width: 100%;
    height: 0.64422rem;
    padding-top: .04rem;
    padding-bottom: .04rem;
    background-color: #FFF;
    text-align: center;
}

.c-footer p {
    margin: 0 auto;
    color: #5D5E5D;
    font-family: 'Arial';
    font-size: .1rem;
    font-weight: normal;
    padding-top: .04rem;
}


/*#Loading-(Begin)
-----------------------------------------------*/

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 66;
}

.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(255, 255, 255, 1);
    z-index: 77;
}

.loading-text {
    position: absolute;
    width: 2.19619rem;
    height: .36603rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: #5D5E5D;
    font-size: .12rem;
    z-index: 88;
}


/*#COMMON CSS
-----------------------------------------------*/

.SD {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: black;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 1px 2px 3px 0 rgba(220, 220, 220, 1);
    box-shadow: 1px 2px 3px 0 rgba(220, 220, 220, 1);
}

.BDS {
    border-radius: .022rem;
    -webkit-border-radius: .022rem;
    -moz-border-radius: .022rem;
    -ms-border-radius: .022rem;
}


/*#Animation-element-(Begin)
-----------------------------------------------*/

.container {
    position: absolute;
    width: 0.87848rem;
    height: 0.8366rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999;
    padding-top: .8rem;
}

.stick {
    display: inline-block;
    width: 0.21962rem;
    height: .01rem;
    background: blue;
    /*margin-left: -0.05857rem;*/
    margin-left: -0.07rem;
}

.stick:nth-child(n) {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    /* Safari and Chrome */
    -moz-transform: rotate(30deg);
    -webkit-animation: fall 2s infinite;
    -moz-animation: fall 2s infinite;
}

.stick:nth-child(2n) {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    /* Safari and Chrome */
    -moz-transform: rotate(-30deg);
    -webkit-animation: rise 2s infinite;
    -moz-animation: rise 2s infinite;
}

@-webkit-keyframes rise {
    50% {
        transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        /* IE 9 */
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
    }
}

@-moz-keyframes rise {
    50% {
        transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        /* IE 9 */
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
    }
}

@-o-keyframes rise {
    50% {
        transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        /* IE 9 */
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
    }
    @keyframes rise {
        50% {
            transform: rotate(30deg);
            -ms-transform: rotate(30deg);
            /* IE 9 */
            -webkit-transform: rotate(30deg);
            -moz-transform: rotate(30deg);
        }
    }
}

@-webkit-keyframes fall {
    50% {
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(30deg);
    }
}

@-moz-keyframes fall {
    50% {
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
    }
}

@-o-keyframes fall {
    50% {
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(30deg);
    }
    @keyframes fall {
        50% {
            transform: rotate(-30deg);
            -ms-transform: rotate(-30deg);
            /* IE 9 */
            -webkit-transform: rotate(-30deg);
            -moz-transform: rotate(30deg);
        }
    }
}

@-webkit-keyframes fade {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
    @keyframes fade {
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
}


/*#兼容处理
------------------------------------*/

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    /*iphone 5 && 5s*/
    .stick {
        display: inline-block;
        width: 0.21962rem;
        height: .02rem;
        background: blue;
        margin-left: -0.14rem;
        z-index: 99999;
    }
}

@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) {
    /*iphone 6*/
    .c-footer p {
        padding-top: .04rem;
    }
    .container {
        position: absolute;
        width: 1rem;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 9999;
        padding-top: .5rem;
    }
    .stick {
        display: inline-block;
        width: 0.21962rem;
        height: .02rem;
        background: blue;
        margin-left: -0.14rem;
        z-index: 99999;
    }
}
